<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Appointment App</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <section class="container">
        <form id="my_form" >
            <h2>Booking Appointment App</h2>
            <div class="for_Name">
                <label>Name</label>
                <input id="my_name" type="text" value="" placeholder="Name">
            </div>

            <div class="for_Phone">
                <label>phone Number</label>
                <input id="my_phone" type="number" value="" placeholder="Number">
            </div>

            <div class="for_email">
                <label>Email</label>
                <input id="my_email" type="text" value="" placeholder="Email">
            </div>
            <div class="for_btn">
                <button id="btn" type="submit">Submit</button>
            </div>
        </form>

        <ul id="Ul_List">

        </ul>
    </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"></script>
<script src="/js/index.js"></script>
</html>